---

---

<div class="container flex flex-col sm:flex-row sm:justify-between gap-4 py-4 max-w-[64rem]">
  <p class="text-center text-sm text-muted-foreground">&copy; 2024 Piclockr. All rights reserved.</p>
  <div class="flex gap-2 sm:gap-4 flex-col sm:flex-row text-center">
    <a href="/legal/terms" class="hover:underline text-sm text-muted-foreground underline">Terms of Service</a>
    <a href="/legal/privacypolicy" class="hover:underline text-sm text-muted-foreground underline">Privacy Policy</a>
  </div>
</div>
