---
export const prerender = true;

import { twMerge } from "tailwind-merge";

const { id, title, subtitle, class: className } = Astro.props;
---

<!-- Your template here! -->
<section id={id} class={twMerge("space-y-6 py-8 md:py-12 lg:py-24", className)}>
  <div class="container flex flex-col items-center text-center max-w-[58rem] gap-5">
    <h2 class="text-3xl font-bold text-balance !leading-[1.1] sm:text-3xl md:text-6xl">
      <div class="container flex flex-col items-center text-center max-w-[64rem] gap-5">{title}</div>
    </h2>
    <p class="max-w-[42rem] leading-normal text-muted-foreground sm:text-xl sm:leading-8">
      {subtitle}
    </p>
    <slot />
  </div>
</section>
